In [16]:
import pandas as pd

df = pd.read_csv('STP-20171124170718044.csv')

In [17]:
df.Data = pd.to_datetime(df.Data, infer_datetime_format=True)

In [18]:
len(df)
train_df = df.iloc[0:89]
test_df = df.iloc[89:]

In [19]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

In [20]:
model = LinearRegression()

In [21]:
features = df.columns.drop("Data","SELIC").tolist()
model.fit(train_df[features], train_df.SELIC)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [22]:
predictions = model.predict(test_df[features])

In [23]:
test_df["SELIC_predictions"] = predictions

/opt/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [24]:
test_df.head()

         Data  IGPM  IPCA  SELIC  SELIC_predictions
89 2014-06-01 -0.74  0.40   0.82               0.82
90 2014-07-01 -0.61  0.01   0.95               0.95
91 2014-08-01 -0.27  0.25   0.87               0.87
92 2014-09-01  0.20  0.57   0.91               0.91
93 2014-10-01  0.28  0.42   0.95               0.95

In [37]:
df

          Data  IGPM  IPCA  SELIC  SELIC_predictions
0   2007-01-01  0.50  0.44   1.08               1.08
1   2007-02-01  0.27  0.44   0.87               0.87
2   2007-03-01  0.34  0.37   1.05               1.05
3   2007-04-01  0.04  0.25   0.94               0.94
4   2007-05-01  0.04  0.28   1.03               1.03
5   2007-06-01  0.26  0.28   0.91               0.91
6   2007-07-01  0.28  0.24   0.97               0.97
7   2007-08-01  0.98  0.47   0.99               0.99
8   2007-09-01  1.29  0.18   0.80               0.80
9   2007-10-01  1.05  0.30   0.93               0.93
10  2007-11-01  0.69  0.38   0.84               0.84
11  2007-12-01  1.76  0.74   0.84               0.84
12  2008-01-01  1.09  0.54   0.93               0.93
13  2008-02-01  0.53  0.49   0.80               0.80
14  2008-03-01  0.74  0.48   0.84               0.84
15  2008-04-01  0.69  0.55   0.90               0.90
16  2008-05-01  1.61  0.79   0.88               0.88
17  2008-06-01  1.98  0.74   0.96               0.96
18  2008-07-01  1.76  0.53   1.07               1.07
19  2008-08-01 -0.32  0.28   1.02               1.02
20  2008-09-01  0.11  0.26   1.10               1.10
21  2008-10-01  0.98  0.45   1.18               1.18
22  2008-11-01  0.38  0.36   1.02               1.02
23  2008-12-01 -0.13  0.28   1.12               1.12
24  2009-01-01 -0.44  0.48   1.05               1.05
25  2009-02-01  0.26  0.55   0.86               0.86
26  2009-03-01 -0.74  0.20   0.97               0.97
27  2009-04-01 -0.15  0.48   0.84               0.84
28  2009-05-01 -0.07  0.47   0.77               0.77
29  2009-06-01 -0.10  0.36   0.76               0.76
..         ...   ...   ...    ...                ...
91  2014-08-01 -0.27  0.25   0.87               0.87
92  2014-09-01  0.20  0.57   0.91               0.91
93  2014-10-01  0.28  0.42   0.95               0.95
94  2014-11-01  0.98  0.51   0.84               0.84
95  2014-12-01  0.62  0.78   0.96               0.96
96  2015-01-01  0.76  1.24   0.94               0.94
97  2015-02-01  0.27  1.22   0.82               0.82
98  2015-03-01  0.98  1.32   1.04               1.04
99  2015-04-01  1.17  0.71   0.95               0.95
100 2015-05-01  0.41  0.74   0.99               0.99
101 2015-06-01  0.67  0.79   1.07               1.07
102 2015-07-01  0.69  0.62   1.18               1.18
103 2015-08-01  0.28  0.22   1.11               1.11
104 2015-09-01  0.95  0.54   1.11               1.11
105 2015-10-01  1.89  0.82   1.11               1.11
106 2015-11-01  1.52  1.01   1.06               1.06
107 2015-12-01  0.49  0.96   1.16               1.16
108 2016-01-01  1.14  1.27   1.06               1.06
109 2016-02-01  1.29  0.90   1.00               1.00
110 2016-03-01  0.51  0.43   1.16               1.16
111 2016-04-01  0.33  0.61   1.06               1.06
112 2016-05-01  0.82  0.78   1.11               1.11
113 2016-06-01  1.69  0.35   1.16               1.16
114 2016-07-01  0.18  0.52   1.11               1.11
115 2016-08-01  0.15  0.44   1.22               1.22
116 2016-09-01  0.20  0.08   1.11               1.11
117 2016-10-01  0.16  0.26   1.05               1.05
118 2016-11-01 -0.03  0.18   1.04               1.04
119 2016-12-01  0.54  0.30   1.12               1.12
120 2017-01-01  0.64  0.38   1.09               1.09

[121 rows x 5 columns]